*{
  font-family: 'Times New Roman', Times, serif;
  background-color: black
}

#tituloSuperior {
  padding: 50px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(51, 178, 213);
}

#cep {
  color: rgb(51, 178, 213);
}

.my-input{
  border-color: rgb(51, 178, 213);
  background-color: black;
}

#button {
  background-color: rgb(51, 178, 213);
  color: black;
}

  #tituloTabela {
    color: rgb(51, 178, 213);
    font-size: 20px;
    font-weight: bold;
  }

    #tabela {
      color: rgb(51, 178, 213);
    }
